{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $deviceType := "" -}}
{{- if hasKey . "deviceType" -}}
{{-   $deviceType = .deviceType -}}
{{- else -}}
{{-   $deviceType = promptString "deviceType" -}}
{{- end -}}


edit:
    command: "code"
    args: ["--wait"]

data:
    email: {{ $email | quote }}
    deviceType: {{ $deviceType | quote }}
