{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

edit:
    command: "code"
    args: ["--wait"]

data:
    email: {{ $email | quote }}